
.background {
    background-color: #fcfbf7;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(240, 240, 240, 0.5),
        rgba(240, 240, 240, 0.5) 1px,
        transparent 1px,
        transparent 5px);
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.10);
    max-width: full;
    width: 30%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
}

.recipeBox {
    margin-top: 70px;
    background-color: rgba(255, 0, 0, 0.7);
    width: 200px;
    display: flex;
    justify-content: center;
    /* border-radius: 32% 68% 32% 68% / 100% 0% 100% 0%; */
    border-radius: 100px 20px 100px 20px / 20px 100px 20px 100px;
    transform: rotate(-1.5deg);
}

.recipeText {
    display: inline-block;
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    font-size: xxx-large;
}

.menuBox {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menuelementBox {
    border-bottom: red 1px solid;
}

.menuText {
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    font-size: xx-large;
}