html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(30, 31, 31);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}